.form-input {
	width: 391px;

	background-color: #f3f3f3;
	border: none;
	padding: 14px 21px;
}

.form-input {
	margin-bottom: 10px;
}

.form-textarea {
	width: 391px;
	height: 147px;
	resize: none;
	font-family: 'TT Hoves Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 17.43px;
	letter-spacing: 0.04em;
	text-align: left;
	padding: 14px 21px;

	background-color: #f3f3f3;
	border: none;
}

.form-checkbox-div {
	display: flex;
	margin-top: 22px;
	align-items: center;
}

.form-checkbox {
	width: 34px;
	height: 34px;
}

.form-label {
	width: 331px;
	font-family: 'TT Hoves Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 17.43px;
	letter-spacing: 0.03em;
	text-align: left;
}
